// Quasar Sass (& SCSS) Variables
// --------------------------------------------------

$primary: #1687f8;
$secondary: #20c6e8;
$accent: #6257ee;

$dark: #171c24;
$dark-page: #11151b;

$positive: #1f9d63;
$negative: #e5484d;
$info: #20c6e8;
$warning: #d98b16;
